<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="https://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <title>Create Facility</title>
</head>

<body>
<form th:action="@{/logout}">
    <input  type="submit" value="Logout" class="button">
</form>
    <div th:if="${message != null}">
        <p class="text-warning">[[${message}]]</p>
    </div>

    <form action="/facility" modelAttribute="facility" method="POST">
        <label>Facility Name:</label>
        <input type="text" name="name" required/><br/>
        <br/>
        <label>Description:</label>
        <textarea
                name="description"
                rows="5"
                cols="50"
                placeholder="Text" required></textarea><br/><br/>
        <label>Location:</label>
        <input type="text" name="location" required/><br/><br/>
        <label>Max occupancy per slot:</label>
        <input type="text" name="occupancy" required/><br/><br/>
        <label>Facility Manager:</label>
        <input
                type="text"
                name="managerEmail"
                placeholder="Email" required/><br/><br/>
        <label>Time slot duration(minutes)</label>
        <input
                type="text"
                name="timeSlot"
                required
        /><br/><br/>
        <input type="checkbox" name="active"/>
        <label>Active</label><br/><br/>
        <input type="checkbox" name="approvalRequired"/>
        <label>Approval Required</label><br/><br/>
        <input type="submit" value="Submit"/>

        <a th:href="@{/facility}">home</a>
    </form>
</body>
</html>
