<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Forget Password Form</title>
</head>
<body>
<div>
    Forget Password Form
</div>

    <form  th:action="@{/forgot_password}"  method="post" >
            <div>
                <p>We will be sending a reset password link to your email.</p>
            </div>
            <div>
                <p>

                    <label>
                        <input type="email" th:name="email" placeholder="Enter e-mail" required />
                    </label>
                </p>
                <p class="text-center">
                    <input type="submit" value="Send" >
                </p>
            </div>
        <div th:if="${message != null}">
            <p class="text-warning">[[${message}]]</p>
        </div>
    </form>


</body>
</html>