<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">>
<head>
    <meta charset="UTF-8">
    <title>Reset password form</title>
</head>
<body>
<div>
    <h2>Reset Password Form</h2>
</div>

<form th:action="@{/reset_password_form}" method="post">
    <input type="hidden" name="token" th:value="${token}"/>
        <div>
            <p>
                <label>
                    <input type="password" name="password" th:value="${password}" placeholder="Enter password" required/>
                </label>
            </p>
            <p>
                <label>
                    <input type="password"  placeholder="Confirm your new password"
                           required oninput="checkPasswordMatch(this);" />
                </label>
            </p>
            <p >
                <input type="submit" value="Change Password" class="btn btn-primary" />
            </p>
        </div>
</form>

</body>
</html>