<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<form id="facility_details" modelAttribute="timing" action="/timing" method="post">

    <input type="hidden" name="facilityId" th:value="${facilityId}"/><br>
    <label>Day:</label>
    <input type="text" name="day"/><br/>
    <br/>
    <label>Start Time:</label>
    <input type="time" name="startTime"/><br/>
    <br/>
    <label>End Time:</label>
    <input type="time" name="endTime"/><br/>
    <br/>
    <button type="submit">Add timing</button>

    <table border="1">
        <tr>
            <th>name</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
        <tr th:each = "timing: ${timingList}">
            <td th:text="${timing.day}"></td>
            <td th:text="${timing.startTime}"></td>
            <td th:text="${timing.endTime}"></td>
            <td><a th:href="@{/timing/{id} (id=${timing.id})}">Delete</a></td>
        </tr>
    </table>
</form>
</body>
</html>