<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Reset password form</title>
    <script type="text/javascript" th:src="@{/js/Password.js}"></script>
</head>
<body>
<div>
    <h2>User Verification Form</h2>
</div>

<form th:action="@{/verification_form}" method="post">
    <input type="hidden" name="token" th:value="${token}"/>
    <div>
        <p>
            <label>
                <input type="password"  name="password" th:value="${password}" placeholder="Enter password" required/>
            </label>
        </p>
        <p>
            <label>
                <input type="password"   name="confirm password" placeholder= "Confirm your new password" required oninput="comparePassword(this);" />
            </label>

        </p>
        <div th:if="${message != null}">
            <p class="text-warning">[[${message}]]</p>
        </div>
        <p >
            <input type="submit" value="Change Password"/>
        </p>
    </div>
</form>

</body>
</html>